.selectTrigger {
  all: unset;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 210px;
  height: 36px;
  padding: 5px 11px;

  background: url('../../../../public/image/select/arrow-ios-Down-outline.svg') no-repeat right 11px
    center / 16px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  &[data-state='open'] {
    background: url('../../../../public/image/select/arrow-ios-Up.svg') no-repeat right 11px center /
      16px;
    border-color: var(--color-dark-100);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:focus-visible {
    border-color: transparent;
    outline: 2px solid var(--color-info-500);
  }

  &.disabled {
    color: var(--color-dark-300);
    background: url('../../../../public/image/select/arrow-ios-Down-outline-disabled.svg') no-repeat
      right 11px center / 16px;
    border-color: var(--color-dark-300);
  }
}

.selectContent {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 210px;

  border: 1px solid var(--color-dark-100);
  border-top: none;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

  .selectItem {
    cursor: default;

    display: flex;
    align-items: center;

    height: 36px;
    padding-left: 11px;

    &[data-highlighted] {
      color: var(--color-accent-300);
      background: var(--color-accent-900);
      outline: none;
    }

    &[data-disabled] {
      color: var(--color-dark-300);
    }
  }
}

.spanLabel {
  color: var(--color-dark-100);

  &.disabled {
    color: var(--color-dark-300);
  }
}

.disabled {
  color: var(--color-dark-300);
}
