.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 24px;
}

.descriptionText {
  padding: 17px 24px;
}
