.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
flex-shrink: 0;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);

  background-color: var(--color-accent-500);
  border: none;
  border-radius: 4px;

  &.padding4px {
    padding: 4px;
  }

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }

  &:disabled {
    cursor: default;
    color: var(--color-light-900);
  }
}

.primary {
  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    background-color: var(--color-accent-900);
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    background-color: inherit;
  }
}

.tertiary {
  box-sizing: border-box;
  height: 36px;
  padding: 0 28px;

  font-size: var(--font-size-m);
  color: var(--color-accent-500);

  background-color: transparent;
  border: 1px solid var(--color-accent-500);

  &:hover {
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-accent-700);
  }

  &:active {
    background-color: var(--color-accent-900);
    border: 1px solid var(--color-accent-700);
  }

  &:disabled {
    border: 1px solid var(--color-accent-900);
  }
}

.link {
  padding: 6px 12px;
  font-size: var(--font-size-m);
  color: var(--color-accent-500);
  background-color: transparent;

  &:hover {
    color: var(--color-accent-300);
  }

  &:active {
    color: var(--color-accent-700);
  }

  &:focus-visible {
    border-radius: 130px;
  }

  &:disabled {
    color: var(--color-accent-900);
  }
}

.fullWidth {
  width: 100%;
  text-align: center;
}
