.checkWrapper {
  display: inline-flex;
  gap: 2px;
  align-items: center;

  .checkbox {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    border-radius: 50%;

    &[data-state='checked'] {
      background: url('../../images/checkbox/Ckeckbox-Default Selected.svg') no-repeat center;
    }

    &[data-state='checked']:focus-visible {
      background: url('../../images/checkbox/Ckeckbox-Default Selected.svg') no-repeat center
        var(--color-dark-100);
    }

    &[data-state='checked']:active {
      background: url('../../images/checkbox/Ckeckbox-Default Selected.svg') no-repeat center
        var(--color-dark-100);
    }

    &[data-state='unchecked'] {
      background: url('../../images/checkbox/Ckeckbox-Default Unselected.svg') no-repeat center;
    }

    &[data-state='unchecked']:focus-visible {
      background: url('../../images/checkbox/Ckeckbox-Default Unselected.svg') no-repeat center
        var(--color-dark-100);
    }

    &[data-state='unchecked']:active {
      background: url('../../images/checkbox/Ckeckbox-Default Unselected.svg') no-repeat center
        var(--color-dark-100);
    }

    &[data-state='unchecked']:disabled {
      background: url('../../images/checkbox/checkbox-Disabled Unselected.svg') no-repeat center;

      &:active {
        background-color: transparent;
      }
    }

    &[data-state='checked']:disabled {
      background: url('../../images/checkbox/checkbox-Disabled Selected.svg') no-repeat center;

      &:active {
        background-color: transparent;
      }
    }
  }

  .label {
    position: relative;
    z-index: 99;
  }

  .labelDisabled {
    color: var(--color-dark-100);
  }
}
